* {
        box-sizing: border-box;
}

.container{height: 70vh;}
        .box{
            padding:25px;
            text-align: center;
            color: white;
            
        }
        #box1{
            background-color: teal;
            height: 15%;
        }
        #box2{
            background-color: rgb(30, 146, 107);
            width: 15%;
            height: 70%;
            float: left;
        }
        #box3{
            background-color: rgb(115, 202, 173);
            width: 85%;
            height: 70%;
            float: right;
        }
        #box4{
            background-color: rgb(21, 109, 80);
            height: 15%;
            clear: both;
        }
               
    
