.container{height: 70vh;}
        .box{
            padding:25px;
            text-align: center;
            color: white;
            
        }
        #box1{
            background-color: teal;

        }
        #box2{
            background-color: rgb(30, 146, 107);
            height: 75%;
            width: 10%;
            float: left;
            clear: left;
        }
        #box3{
            background-color: rgb(115, 202, 173);
            height: 50%;
            width: 75%;
            float: right;
            clear: right;
        }
        #box4{
            background-color: rgb(21, 109, 80);

        }
               
    
